{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block header %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
       Ganban
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
      <p class="navbar-text navbar-right">{{ user.nickname() }} | <a href="{{logout_url}}" class="navbar-link">Logout</a></p>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class='container-fluid'>
  <div class='row'>
    {% for b in boards %}
      <div class='col-md-4'>
        {{ macros.board(b) }}
      </div>
    {% endfor %}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="cardModalTitle">Card</h4>
      </div>
      <div class="modal-body">
        <form id='cardForm'>
          <input type='hidden' id='id'></input>
          <div class="form-group">
            <lable for='cardStatus'>Status:</label>
            <select class="form-control" id='board' disabled>
              {% for b in boards %}
                <option value='{{ b.key.id() }}'>{{ b.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="cardContent">Content:</label>
            <textarea class="form-control" id="content" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary save-card">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
